## pogona
# pogona new copyright header
snippet copyh
	/*
	 * Copyright (c) `strftime("%Y")`, Nikita Romanyuk <kelvium@yahoo.com>
	 *
	 * SPDX-License-Identifier: BSD-2-Clause
	 */
# additional copyright tag
snippet copyn
	Copyright (c) `strftime("%Y")`, ${0} <${1}>
